<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <link rel = "stylesheet" type = "text/css" href = "StyleFiles/MenuStyle.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title></title>
  
 </head>
 <body>
 
 <div class="container">
	<p class="lead">Just my entry in yet another Codepen challenge.</p>
	<div class="header-bar">
		<h1 class="logo">E</h1>
		<ul class="slider-menu">
			<li>Home</li>
			<li>About</li>
			<li>Services</li>
		</ul>
	</div>
</div>

<p class="aeu-signature">🌮 made this with 💕.</p>
  <h1 align = "center">❤❤❤ User Page ❤❤❤</h1>
  
  
  
  
  <form action = "/user/list" method = "get">
    <input type = "submit" value = "Look to user's list"/>
    </form>
    
    <form action = "/advertisments/" method = "get">
    <input type = "submit" value = "Look to advs's list"/>
    </form>
  
    
   
  
 </body>
</html>